body{
    color: blue;
    background: black;
    margin: 0px;
}
header {
 border: solid 2px rgb(21, 0, 128);
 padding: 20px;
 font-size: 32px;
 color: red;
}
section{
    background: red;
    padding-bottom: 80px;
    padding-top: 80px;
}